{#{% extends 'welcome.html' %}#}
{#{% block title %} Cryptocurrency searcher {% endblock %}#}
{#{% block body %}#}


{##}
{#Acestea sunt fragmente de cod Jinja, un limbaj de sablon utilizat pentru a crea dinamice si reusable template-uri in aplicatii Flask.#}
{##}
{#{% extends 'welcome.html' %} - Aceasta linie de cod indica ca acest template (in acest caz "search.html") se va extinde din alt template numit "welcome.html". Asta inseamna ca template-ul "search.html" va contine tot continutul din "welcome.html" plus continutul aditional specificat in template-ul "search.html".#}
{##}
{#{% block title %} Cryptocurrency searcher {% endblock %} - Aceasta linie de cod defineste un "block" cu numele "title" si atribuie valoarea "Cryptocurrency searcher" acestui block. In acest caz, in template-ul parinte "welcome.html" exista probabil un block cu acelasi nume "title", acest block va fi inlocuit cu valoarea "Cryptocurrency searcher" in template-ul "search.html".#}
{##}
{#{% block body %} - Aceasta linie de cod defineste un "block" cu numele "body". Continutul din acest block va fi inlocuit cu continutul specificat in template-ul "search.html"#}
{##}
{#Acestea sunt utilizate pentru a crea template-uri care pot fi folosite in mai multe pagini, fara a fi necesar sa se copieze si sa se insereze aceeasi informatie in mai multe pagini.#}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cryptocurrency Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
</head>
<body>
    <div id="search-container">
        <h1>Cryptocurrency Search</h1>
        <form>
            <input type="text" id="search-input" oninput="getAutoComplete()">
            <select id="cryptocurrency-select">
                <option value="">Select a cryptocurrency</option>
            </select>
            <input type="submit" value="Search">
        </form>
{#            <form action="/search_results">#}
{#                <input type="text" name="search-query" placeholder="Enter cryptocurrency name or symbol">#}
{#                <select id="cryptocurrency-select" name="cryptocurrency">#}
{#                    {% for coin in coins %}#}
{#                        <option value="{{ coin.id }}">{{ coin.name }} ({{ coin.symbol }})</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                <input type="submit" value="Search">#}
{#            </form>#}
{#        <form action="/search_results">#}
{#            <label for="search-query">Search Cryptocurrency:</label>#}
{#            <input type="text" id="search-query" name="search-query">#}
{#            <div id="auto-complete"></div>#}
{#            <input type="submit" value="Search">#}
{#        </form>#}
    </div>
</body>
</html>
















